@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  nav {
    display: none;
  }
}
@media (min-width: 701px) {
  .menu {
    display: none;
  }
}
